/* CSS Document */


#main
{
margin:0 auto;
width:1024px;
}


#header
{
background:white;
position:absolute;
top:0%;
left:0%;
width:100%;
height:10%;
}


#navigation
{
background:#CCCCCC;
position:absolute;
top:22%;
left:0%;
width:20%;
height:40%;
}




#content
{
background:WHITE;
position:absolute;
top:22%;
left:20%;
width:70%;
height:60%;
}

#footer
{
background:#CCCCCC;
position:absolute;
top:90%;
left:0%;
width:100%;
height:10%;
}


ul#nav1 
{
list-style-type:none;

}



ul#nav1 a
{
display:block;
float:left;
padding:10px;
text-decoration:none;
background:#00CC99;
color:#CC0033;
width:100px;
border-bottom:1px solid #FF99FF;
}

ul#nav1 a:hover
{
background:#9933CC;
color:#FFCC66;
}

